# Perform LF normalization
* text=auto eol=lf

*.gz binary
*.zip binary
*.ico binary
*.jpg binary
*.png binary
*.gif binary

*.aac binary
*.ogg binary
*.mp3 binary
*.exe binary

*.ai binary
*.psd binary

*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary

/.pnp.* binary

/.yarn/releases/** binary
/.yarn/plugins/** binary
